.Container {
    padding: 10px;
    display: flex;
    align-content: center;
    height: 100%;
    /*justify-content: center !important;*/
    /*align-items: center;*/
}

.AppContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.Overlay {
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 9px;
}
