.Container {
    padding: 10px;
    display: flex;
    align-content: center;
    height: 100%;
    /*justify-content: center !important;*/
    /*align-items: center;*/
}

.AppContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    justify-content: space-between;
}

.Overlay {
    position: absolute;
    width: calc(100% - 80px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border-radius: 9px;
}

.LoadMore {
    position: relative;
    background-color: #f2f6fa;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 40px;
}

.Loader {
    position: relative !important;
    top: 0;
    left: 0;
}

.Logo {
    height: 30px;
    fill: #222;
    transform: translateX(10px) translateY(10px);
}

.ScrollToButton {
    position: fixed;
    right: 40px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 4px 0px #CBCED4;
    align-items: center;
}

.ScrollToButton:hover {
    box-shadow: 0px 2px 4px 2px #CBCED4;

}

@media only screen and (max-width: 425px) {
    .ScrollToButton {
        right: 10px;
    }
}
